/.RecipeDSLDescriptionLabelProvider.java._trace
/.RecipeDSLLabelProvider.java._trace
/.RecipeDSLDescriptionLabelProvider.xtendbin
/.RecipeDSLLabelProvider.xtendbin
/RecipeDSLDescriptionLabelProvider.java
/RecipeDSLLabelProvider.java
